/* Ensure scrollbar is always visible */
html {
    overflow-y: scroll;
}

/* Base Styles */
:root {
    --primary-bg-color-light: #eee;
    --primary-bg-color-dark: #252525;
    --primary-text-color-light: #000;
    --primary-text-color-dark: #fff;
    --teal: #01717a;
    --green: #84a8aa;
    --green-dark: #00484e;
    --grey: #ccc;
    --grey-dark: #696868;
    --yellow: #f4da92;
    --yellow-dark: #fcc11e;
    --red: #f7c0b5;
    --red-dark: #eb7373;
}

/* Light Mode Colors */
.answer-yes { background-color: var(--green); }
.answer-no { background-color: var(--red); }
.answer-irrelevant { background-color: var(--yellow); }
.answer-omitted { background-color: var(--grey); }

/* Dark Mode Colors */
.dark-mode .answer-yes { background-color: var(--green-dark); }
.dark-mode .answer-no { background-color: var(--red-dark); }
.dark-mode .answer-irrelevant { background-color: var(--yellow-dark); }
.dark-mode .answer-omitted { background-color: var(--grey-dark); }

body, html {
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--primary-bg-color-light);
    color: var(--primary-text-color-light);
}

.wrapper {
    max-width: min(80%, 600px); 
    margin: auto; /* Center the wrapper */
    text-align: center;
    padding: 20px;
}

/* Header and Info Styles */
.top-bar, .info-bar {
    padding: 5px 0;
    margin-bottom: 15px;
    font-size: 0.9em;
    border-radius: 5px;
}

.label {
    font-weight: bold;
}

input.word, textarea.word, button {
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
}

input.word, textarea.word {
    border: 1px solid #ddd;
    font-family: 'Ubuntu', sans-serif;
    width: 300px;
}

/* Style for placeholder in both input and textarea */
input.word::placeholder, textarea.word::placeholder {
    color: #999; /* Placeholder text color */
    font-family: 'Ubuntu', sans-serif;
}

button {
    background-color: var(--grey);
    color: var(--primary-text-color-light);
    border: none;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}

button:hover {
    background-color: var(--grey-dark);
}

/* Content Styles */
.brief-description, .how-to-play, .guess-history {
    margin-bottom: 20px;
}

.message-text {
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

/* Row and Bar Styles */
.row-wrapper {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.outer-bar {
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.inner-bar {
    height: 20px;
    transition: width 0.3s ease;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
    text-align: left;
}

.row span:first-child {
    text-align: left;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row span:last-child {
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Highlight Current Question */
.row-wrapper.current {
    border: 2px solid black; /* Adding black border */
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: var(--primary-bg-color-dark);
    color: var(--primary-text-color-dark);
    min-height: 100vh;
}

.dark-mode .top-bar, 
.dark-mode .info-bar, 
.dark-mode .message-text, {
    background-color: var(--primary-bg-color-dark);
}

.dark-mode .wrapper {
    background-color: var(--primary-bg-color-dark);
}

.dark-mode button {
    background-color: #333;
    color: #fff;
}

.dark-mode button:hover {
    background-color: #555;
}

.dark-mode input.word {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

.dark-mode .row-wrapper.current {
    border: 2px solid #ffffff; /* Example: white border for dark mode */
}

.dark-mode .modal-content{
    background-color: #444;
}

/* Toggle Switch Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #444;
}

input:focus + .slider {
    box-shadow: 0 0 1px #444;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#darkModeSwitch {
    position: absolute;
    top: 10px;
    right: 10px;
}
@media screen and (min-width: 1070px) {
    #darkModeSwitch {
        right: calc(50% - 300px);
    }
}

/* General Styles for Collapsible Sections */
.collapsible {
    cursor: pointer;
    margin-bottom: 5px; /* Adjust as needed */
    border-radius: 10px; /* Match your row styling */
    background-color: var(--grey); /* Adjust for light mode */
}

.collapsible-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Match your row padding */
}

.collapsible-header::before {
    content: '+';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    transition: transform 0.3s ease;
}

/* Rotate the + icon to × when collapsible is expanded */
.collapsible-header.expanded::before {
    transform: translateY(-50%) rotate(45deg);
}

.collapsible-content {
    padding: 10px;
    text-align: left;
    border-top: 1px solid #ddd; /* Optional divider line */
    display: none; /* Initially hidden */
}

/* Dark Mode Adjustments */
.dark-mode .collapsible {
    background-color: var(--grey-dark);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    border-radius: 10px;
    margin-top: 100px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add styles for textarea and button inside modal */
.modal-content textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.solution-visualization img {
    max-width: 100%; /* Makes sure the image is not wider than its container */
    max-height: 400px; /* Adjust the max height to fit within the modal */
    object-fit: contain; /* Ensures the aspect ratio is maintained */
    margin: auto; /* Centers the image */
    display: block; /* Ensures the image is block level to center properly */
}

/* Ad Placeholder General Styles */
.ad-placeholder {
    text-align: center;
    background-color: #ddd;
    margin-bottom: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Top Ad Placeholder Styles */
.top-ad {
    height: 80px;
    width: 100%;
}

/* Side Ad Placeholder Styles */
.side-ad {
    width: 160px;
    height: 600px;
    position: fixed;
}

.left-ad {
    left: 0;
}

.right-ad {
    right: 0;
}

.main-content-wrapper {
    display: flex;
    justify-content: center; /* Center main content */
    margin-left: 160px; /* Left margin equal to left ad width */
    margin-right: 160px; /* Right margin equal to right ad width */
    position: relative; /* Needed for proper layout */
}

.dark-mode .main-content-wrapper{
    background-color: var(--primary-bg-color-dark);
}

/* Hide side ads on smaller screens */
@media screen and (max-width: 800px) {
    .side-ad {
        display: none;
    }

    .main-content-wrapper {
        margin-left: 0;
        margin-right: 0;
    }

    .wrapper {
        max-width: 100%; /* Allow wrapper to use full width on small screens */
    }
}

#getMoreQuestionsButton {
    margin-bottom: 20px;
}

/* Thermometer styles */
#termometer {
    margin: auto;
    width: 25px;
    background: var(--grey); /* Adjusted for regular CSS */
    height: 240px;
    position: relative;
    border: 9px solid #33333d; /* Adjusted for regular CSS */
    border-radius: 20px;
    z-index: 1;
    margin-bottom: 50px; /* Adjusted for regular CSS */
  }
  
  #termometer:before,
  #termometer:after {
    position: absolute;
    content: "";
    border-radius: 50%;
  }
  
  #termometer:after {
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: #3dcadf;
    border: 9px solid #33333d; /* Adjusted for regular CSS */
    bottom: -41px; /* Adjusted for regular CSS */
    left: 50%;
    z-index: -3;
  }
  
  #temperature {
    bottom: 0;
    background: linear-gradient(#f17a65, #3dcadf) no-repeat bottom;
    width: 100%;
    border-radius: 20px;
    background-size: 100% 240px;
    transition: all 0.2s ease-in-out;
    position: absolute;
  }
  
  #temperature:before,
  #temperature:after {
    position: absolute;
  }
  
  #temperature:before {
    content: attr(data-value);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    z-index: 2;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    line-height: 1;
    transform: translateY(50%);
    left: calc(100% + 10px); /* Adjusted for regular CSS */
    top: calc(-1em + 5px - 10px); /* Adjusted for regular CSS */
  }
  
  #temperature:after {
    content: "";
    border-top: 0.4545em solid transparent; /* Adjusted for regular CSS */
    border-bottom: 0.4545em solid transparent; /* Adjusted for regular CSS */
    border-right: 0.6667em solid rgba(0, 0, 0, 0.7); /* Adjusted for regular CSS */
    left: 100%;
    top: calc(-0.4545em + 5px); /* Adjusted for regular CSS */
  }
  
  /* Center the content in the result section */
#resultSection {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graduation {
    position: absolute;
    width: 50%;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    left: 20%;
    transform: translateX(-50%);
}

#answerForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#answerForm .word {
    flex-grow: 1;
    margin-right: 10px;
    height: 35px;
    width: 225px;
}

.bottom-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#tipMessage {
    margin-right: 10px; 
}

#seeSolutionButton {
    margin-right: -5px;
}

/* Dropdown Trigger Button */
.dropdown-trigger {
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    cursor: pointer;
    z-index: 1002;
}

/* Dropdown Menu */
.dropdown {
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.075), 0 2px 2px rgba(0,0,0,.075), 0 4px 4px rgba(0,0,0,.075), 0 8px 8px rgba(0,0,0,.075), 0 16px 16px rgba(0,0,0,.075);
    padding: 10px;
    position: absolute;
    top: 70px; /* Adjust based on the trigger button's size and position */
    z-index: 1001;
    display: none; /* Initially hidden */
    background-color: var(--grey);
    left: 10px;
}

.dark-mode .dropdown{
    background-color:  #333;
}

/* Menu Item */
.menu-item {
    display: flex;
    border: none;
    align-items: center;
    text-align: center;
    width: 90%;
    padding: 8px;
    cursor: pointer;
    margin: 10px;
    background-color: transparent;
}

.menu-item:hover {
    background-color: #f0f0f0; /* Hover background color */
}

@media screen and (min-width: 1000px) {
    .dropdown-trigger {
        left: calc(50% - 300px);
    }
    .dropdown {
        left: calc(50% - 300px);
    }
}

.menu-item svg {
    margin-right: 8px; /* Adjust the space as needed */
}

